body{
background-image:url(../images/diagmonds/diagmonds.png);

}
.col-md-9{
    background:transparent;
    color:goldenrod;
}
.container{
    font-family: 'Playfair Display', serif;
}
*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: goldenrod;
}